<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>再牛逼的梦想，都抵不过傻逼式的坚持 ！</p>
        <p></p>


        <p>
          <strong>个人公众号</strong>：<a href="/assets/images/wx_qrcode.jpg" target="_blank">石扒皮（ID：java_site）</a>，欢迎关注
        </p>



        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Csdn：<a href="{{ site.csdn_url }}">{{ site.csdn_url }}</a></li>
            <li>简书：<a href="{{ site.jianshu_url }}">{{ site.jianshu_url }}</a></li>
            <li>知乎：<a href="{{ site.zhihu_url }}">{{ site.zhihu_url }}</a></li>
            <!--
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            -->
        </ul>

       <p align="center">

       <img src="/assets/images/wx_qrcode.jpg" />
       <br/>微信扫一扫关注
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>